@model MyClass.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger text-uppercase">Thêm danh mục sản phẩm</strong>
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" name="create" class="btn btn-sm btn-success"><i class="fa fa-save"></i>Tạo mới</button>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Index", "Category")"><i class="fa fa-backward"></i>Quay lại</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Tên danh mục sản phẩm <span class="text-danger">(*)</span></label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Tên từ khóa <span class="text-danger">(*)</span></label>
                        @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control", @row = "3" })
                        @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Mô tả <span class="text-danger">(*)</span></label>
                        @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control", @row = "5" })
                        @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Danh mục cấp cha</label>
                        @Html.EditorFor(model => model.ParentId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Sắp xếp<span class="text-danger">(*)</span></label>
                        @Html.EditorFor(model => model.Orders, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Orders, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Trạng thái<span class="text-danger">(*)</span></label>
                        @Html.DropDownListFor(model => model.status, new[] { new SelectListItem {Text="Không xuất bản", Value= "2" }, new SelectListItem { Text = "Xuất bản", Value = "1" } }, new { @class="form-control"})
                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        
    </div>
}


